* {
  border: 1px solid red;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* Para posicionar el carrito relativo al header */
}

#tabla {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}

#tabla th,
#tabla td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  width: 300px;
  height: 50px;
}

#tabla th {
  background-color: #f0f0f0;
}

/*Seccion de bienvenida debajo del header con la informacion del negocio al lado derecho y la imagen a la izquierda*/
#bienvenida {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

/*Titulos centrados*/
.seccion-titulo {
  text-align: center;
}

/*Cuadrilla de productos dinamica/flexible*/
#productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*Formulario de agregar productos: columna de inputs, el boton de enviar en el costado inferior derecho alineado con el precio*/
.formulario-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  border: none;
  padding: 0;
}

.formulario-container > * {
  flex: 1;
}

#enviar-formulario {
  align-self: flex-end;
  max-width: 200px;
}

/* Estilo para agrupar los inputs */
.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.producto {
  border: 1px solid black;
}

.img-producto {
  width: 200px;
  height: 100px;
}

#tabla-articulos img {
  width: 100px;
  height: 100px;
}
