/* Revisar bordes de los elementos */
/* *{
    border: 1px solid red;
} */

* {
  box-sizing: border-box;
}

/* Fuentes */
@font-face {
  font-family: "Intel One Mono Italic";
  src: url(../fonts/IntelOneMono-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Intel One Mono";
  src: url(../fonts/IntelOneMono-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Winky Rough";
  src: url(../fonts/WinkyRough-VariableFont_wght.ttf);
}

/*Posicion fija del menú y color de fondo*/

header {
  position: sticky;
  top: 0;
  width: 100%;
}

header,
footer {
  background-color: #000000;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  margin: 0;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header ul li {
  list-style-type: none;
}

#bienvenida a,
header a,
footer p,
#social a {
  color: orangered;
  text-decoration: none;
}

/*hover de los enlaces de la barra de menú*/
#bienvenida a:hover,
header li:hover a {
  font-size: 17px;
  color: orange;
  text-decoration: underline;
}

main {
  flex: 1;
}

#presentacion {
  height: 200px;
  background-image: url("../images/placeholder.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#titulo-bloque {
  width: 50%;
  text-align: center;
  font-family: "Intel One Mono Italic", Arial, sans-serif;
  color: rgb(38, 91, 141);
  text-decoration: underline;
  background: radial-gradient(
    circle,
    rgba(251, 176, 63, 1) 0%,
    rgba(252, 91, 70, 1) 100%
  );
}

h2 {
  font-family: "Intel One Mono", Arial, sans-serif;
  color: rgb(38, 91, 141);
  text-decoration: underline;
}

#bienvenida {
  padding: 20px;
  border-radius: 8px;
  margin: 20px;
}

#retrato {
  border: 1px solid black;
  float: left;
  margin-right: 20px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#social {
  display: flex;
  flex-grow: 1;
  justify-content: end;
}

#social a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
}

#social a:hover {
  transform: scale(1.1);
}

#social p:hover {
  color: orange;
  text-decoration: underline;
}

#copyleft {
  display: flex;
  align-items: center;
}

#copyleft img {
  margin-left: 5px;
}

#contenedor-biografia {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#tabla-biografia {
  width: 80%;
  border-collapse: collapse;
  font-size: larger;
}

/*Encabezado: azul oscuro, texto blanco y en negrita*/
#tabla-biografia th {
  background-color: rgb(21, 21, 97);
  font-family: "Intel One Mono", monospace;
  color: white;
}

#tabla-biografia td {
  font-family: "Winky Rough", cursive;
}

/*Filas impares: verde claro, texto negro*/
tr:nth-child(even) {
  background-color: greenyellow;
}

#hoja-vida {
  margin: 10px;
}

#indice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Cada subsección debe tener un borde continuo y un color de fondo en
gradiente.*/
.subseccion-lista {
  border: 1px solid black;
  background-image: linear-gradient(rgba(107, 109, 80, 0), rgb(243, 143, 86));
  padding: 10px;
  margin: 16px 0;
}

/*Los números deben ser de un color distinto al texto de cada ítem*/
#hoja-vida ol {
  list-style: none;
  counter-reset: num;
}

#hoja-vida ol li {
  counter-increment: num;
}

#hoja-vida ol li::before {
  content: counter(num) ". ";
  color: rgb(175, 71, 80);
}

/*Las viñetas deben ser de un color distinto al texto de cada ítem*/
ul li {
  color: black;
}

ul li::marker {
  color: green;
}

#hoja-vida a {
  color: rgb(38, 91, 141);
}

#hoja-vida a:visited {
  color: blueviolet;
}

#hoja-vida a:hover {
  color: blue;
  font-weight: bold;
  text-decoration: underline;
}

/*3 columnas iguales con un gap de 10% entre ellas*/
.intereses-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10%;
  margin: 20px;
}

.celda {
  display: flex;
  width: 320px;
  height: 320px;
  font-family: "Winky Rough", cursive;
  font-size: large;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 1px solid black;
  padding: 10px;
  margin: 15px;
}

.intereses-grid section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#video-bienvenida {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 20px;
}
